<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style >
        html,body{background-color: aquamarine;}
        .b1{
            text-align: center;
        }
        .b3{
            width: 200px;
            height: 25px;
        }
        .b4{
            width: 50px;
        }
        .b5{
            text-decoration: none;
            color: blueviolet;
        }
    </style>
</head>
<body>
    <form action="?" method="POST" class="b1"> 
        账号:<input type="id" name="id"/ class="b3">
        <br/>
        密码:<input type="pass"/  name="pass" class="b3">
        <br/>
        <input type="submit"/ class="b4">
        <a href="/register" target="_blank" class="b5">注册</a>
        
    </form>
</body>
</html>