<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="?" method="POST"> 
        <input type="text" placeholder="账号" name="name"/>
        <br/>
        <input type="password"/ placeholder="密码" name="password">
        <br/>
        <input type="submit"/>
        <a href="/register" target="_blank">注册</a>
    </form>
</body>
</html>